<footer>
        <div><h1>Playland</h1></div>
            <div class="container">
                <div class="row">
                    <p>Gracias por visitar Playland, su destino para todas las cosas divertidas y entretenimiento. Asegúrese de seguirnos en nuestras redes sociales para obtener actualizaciones sobre nuestras últimas novedades y promociones.</p>
                    <p>Disfruta de la mejor opcion para la compra de tus juegos online</p>
                </div>
                <div class="row">
                    <p>Revis nuestro repositorio.</p>
                    <a href="https://github.com/JosueAHM/Proyecto-PlayLand"><button mat-button>  Github </button></a>
                </div>
            </div>
</footer>