<footer>
    <div class="ml-6 pt-4 mb-2">
        <h1 class="m-0 p-0">Playland</h1>
    </div>
    <div class="mx-5 pl-1">
        <div class="grid w-full p-0 m-0">
            <div class="col-12 md:col-9 lg:col-10 xl:col-10">
                <p>Gracias por visitar Playland, su destino para todas las cosas divertidas y entretenimiento. Asegúrese de
                    seguirnos en nuestras redes sociales para obtener actualizaciones sobre nuestras últimas novedades y
                    promociones.</p>
                <p>Disfruta de la mejor opcion para la compra de tus juegos online</p>
            </div>
            <div class="col-12 md:col-3 lg:col-2 xl:col-2">
                <p>Revis nuestro repositorio.</p>
                <a class="no-underline" href="https://github.com/JosueAHM/Proyecto-PlayLand"><button mat-button class="text-white"> <i class="pi pi-github"></i> Github </button></a>
            </div>
        </div>
    </div>
</footer>