<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

<div class="Titulo">
    <h1 class="subtitulo">Requisitos Altos</h1>
</div>

<mat-divider></mat-divider>

<div class="ContenedorPrincipal">
    <div class="container">
        <label class="nota">
            <h2 style="font-family: Monospace;">Bienvenidos a la sección de juegos de Altos Requisitos para PC, les
                recuerdo que estos juegos son los que requieren una PC de gama Alta para correr perfectamente, por
                lo
                general van desde los 6 GB de Ram hasta 12 GB, requieren tarjeta de vídeo dedicada, un procesador
                potente y la mayoría son de alto PC y consumo, así que por favor asegurate de cumplir con ellos
                antes de
                Comprarlos.</h2>
        </label>
        <div class="grid">
            <div class="sm:col-12 md:col-6 lg:col-4 xl:col-4" *ngFor="let juego of juegosDisponibles">
                <div class="card shadow-sm">
                    <img src="{{juego.src}}"
                        class="bd-placeholder-img card-img-top" width="100%" height="300"
                        xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                        preserveAspectRatio="xMidYMid slice" focusable="false">
                    <title>Imagen Juego</title>

                    <div class="card-body">
                        <p class="card-text"><b>{{juego.nombre}}</b><br>
                           {{juego.descripcion}}<br></p>
                        <span class="text-white">Precio: {{juego.precio | currency}}</span>
                        <mat-expansion-panel hideToggle class="mt-4">
                            <mat-expansion-panel-header>
                                <mat-panel-title>
                                    <span>Requisitos:</span>
                                </mat-panel-title>
                            </mat-expansion-panel-header>
                            <ul>
                                <li>{{juego.requisitos.sistema}}</li>
                                <li>{{juego.requisitos.procesador}}</li>
                                <li>{{juego.requisitos.memoria}}</li>
                                <li>{{juego.requisitos.graficos}}</li>
                                <li>{{juego.requisitos.direct}}</li>
                                <li>{{juego.requisitos.almacenamiento}}</li>
                            </ul>

                        </mat-expansion-panel>
                        <div class="w-12 flex justify-content-center mt-4">
                            <div class="w-max">
                                <button class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-cart-plus"></li> Añadir al carrito </button>
                                &nbsp;&nbsp;
                                <button class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-wallet"></li> Comprar </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>