<div class="album py-5 ContenedorPrincipal">
  <div class="container">
    <div class="grid">
      <div class="sm:col-12 md:col-6 lg:col-4 xl:col-4" *ngFor="let juego of juegosDisponibles">
          <div class="card shadow-sm">
              <img src="{{juego.src}}"
                  class="bd-placeholder-img card-img-top" width="100%" height="300"
                  xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                  preserveAspectRatio="xMidYMid slice" focusable="false">
              <title>Imagen Juego</title>

              <div class="card-body">
                  <p class="card-text"><b>{{juego.nombre}}</b><br>
                  </p>
                  <span class="text-white">Precio: {{juego.precio | currency}}</span>
                  <mat-expansion-panel hideToggle class="mt-4">
                      <mat-expansion-panel-header>
                          <mat-panel-title>
                              <span>Descripción:</span>
                          </mat-panel-title>
                      </mat-expansion-panel-header>
                      <ul>
                          <li>{{juego.descripcion}}</li>
                      </ul>

                  </mat-expansion-panel>
                  <div class="w-12 flex justify-content-center mt-4">
                      <div class="w-max">
                          <button [disabled]="desabilitarCarrito" (click)="validarCarrito(juego)" class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-cart-plus"></li> Añadir al carrito </button>
                          &nbsp;&nbsp;
                          <button (click)="validarComprar(juego)" class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-wallet"></li> Comprar </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  </div>
</div>

<!-- Cuadro de dialogos -->

<p-dialog [style]="{width: '30vw'}" [visible]="validadorInicioSesion" 
          [draggable]="false"
          [resizable]="false"
          [modal]="true"
          [closable]="false"
          [responsive]="true">
    <p-header class="dialogHeader text-center">
        Usuario no inicio sesión
    </p-header>
       <div>
        {{stringModla}}
       </div>
    <p-footer>
        <button  (click)="cambiarEstadoValidador()"  pButton type="button" label="Cancelar" class="p-button-danger"></button>
        <button (click)="irInicioSesion()"  pButton  type="button" label="Iniciar sesión" class="p-button-success"></button>
    </p-footer>
</p-dialog>


<!-- /Toast confirmacion -->

<p-toast position="bottom-center" key="tl">
    <ng-template let-message pTemplate="message">
        <div class="p-toast-message-text">
          <div class="">{{message.summary}} <li class="pi pi-cart-plus ml-3"></li></div>
        </div>
      </ng-template>
</p-toast>