<div class="contenedor-p w-full flex justify-content-center">
  <div class="contenedor-login sm:w-9 md:w-5 lg:w-5 xl:w-5 my-8">
    <h4 class="text-login">LOGIN</h4>
    <form [formGroup]="loginForm" novalidate class="d-flex-center">
      <div class="containerInp">
        <div>
          <mat-form-field class="w-full">
            <input matInput placeholder="Email" formControlName="email" />
            <mat-error *ngIf="
                !loginForm.get('email')?.errors?.required &&
                loginForm.get('email')?.errors?.pattern
              ">
              Porfavor ingrese un correo VALIDO
            </mat-error>
            <mat-error *ngIf="
                loginForm.get('email')?.invalid &&
                (loginForm.get('email')?.dirty ||
                  loginForm.get('email')?.touched) &&
                loginForm.get('email')?.errors?.required
              ">
              Correo requerido
            </mat-error>
          </mat-form-field>
        </div>
        <div class="mt-top-2">
          <mat-form-field class="w-full">
            <input matInput type="password" placeholder="Contraseña" formControlName="password" />
            <mat-error *ngIf="
                loginForm.get('password')?.invalid &&
                (loginForm.get('password')?.dirty ||
                  loginForm.get('password')?.touched) &&
                loginForm.get('password')?.errors?.required
              ">
              Contraseña requerida
            </mat-error>
          </mat-form-field>
          <div *ngIf="loginForm.get('password').errors?.pattern">
            <mat-error class="-mt-6 text-left mb-2">
              <p class="ml-2 pt-2" style="font-size: 12px;">Formato incorrecto de la contraseña debe tener minimo 8 caracteres, caracteres en mayúsculas,
                minúsculas, numéricos y especiales</p>
            </mat-error>
          </div>
        </div>
        <div class="mt-1">
          <button [disabled]="!loginForm.valid" mat-raised-button color="primary" mat-button type="submit"
            (click)="loginCliente()">
            Iniciar Sesión
          </button>
        </div>

        <div class="noCuenta mt-4">
          <b class="msgNoCuenta">No tienes una cuenta?</b>
          <a class="enlacePagRegistro ml-2 cursor-pointer" (click)="irPaginaRegistro()">Registrate</a>
        </div>
      </div>
    </form>
  </div>
</div>
