
::ng-deep .ofertas {
    background-color: #1b2838;
    color: #c7d5e0;
  }
  ::ng-deep .ofertas1{
    color: #c7d5e0;
  }
.Subtitulo {
    display: flex;
    justify-content: center;
    font-size: x-large;
    background-color: #1b2938;
    color: #c7d5e0;
    padding: 1.5rem;
}
