<div class="container">
    <div class="contenedor1">
        <div id="image">
            <img src="https://us.123rf.com/450wm/stockphotoatinat/stockphotoatinat1909/stockphotoatinat190900008/stockphotoatinat190900008.jpg?ver=6" class="bd-placeholder-img card-img-top" width="100%"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>ImagenJuego</title>
        </div>
        <div class="col">
            
            <div class="card-contentedor">
                
                <div class="card-body">
                    
                    <span>¿Desea comprar el juego? </span><br>
                    <span class="card-text">Precio:</span> $ 1.25

                    <div class="botones-contenedor">
                        <div class="btn-group">
                            <button mat-button class="boton" (click)="cerrar()"><mat-icon color="primary">check_circle</mat-icon>Confirmar Compra</button>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

    </div>
</div>