<div class="container w-full">
    <div class="contenedor1">
        <div id="image">
            <img src="{{juegosComprar.src}}"
                class="bd-placeholder-img card-img-top" width="100%" xmlns="http://www.w3.org/2000/svg" role="img"
                aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>ImagenJuego</title>
        </div>
        <div class="col">

            <div class="card-contentedor">

                <div class="card-body w-full">
                    <p class="w-full text-center">¿Desea comprar el juego? </p>
                    <span class="card-text mt-2">Precio: {{juegosComprar.precio | currency}}</span> 

                    <div class="botones-contenedor mt-4">
                        <div class="btn-group">
                            <button [disabled]="inicioBoton" mat-button class="boton" (click)="cerrar()"><mat-icon
                                    color="primary">check_circle</mat-icon>Confirmar Compra
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<p-toast position="top-right" key="tl">
    <ng-template let-message pTemplate="message">
        <div class="p-toast-message-text">
          <div class="">{{message.summary}}</div>
        </div>
      </ng-template>
</p-toast>