<div class="col">
    <div class="card shadow-sm">
        <img src="https://cdn-ext.fanatical.com/production/product/1280x720/fd51a206-6b70-4f80-a37a-284dc5070978.jpg" class="bd-placeholder-img card-img-top" width="100%" height="250"
            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
            preserveAspectRatio="xMidYMid slice" focusable="false">
            <title>ImagenJuego</title>

        <div class="card-body">
            <span>Nombre: </span>


            <span class="card-text">Precio:</span> $

            <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                    <button mat-button class="btn btn-sm btn-outline-secondary"><mat-icon color="primary">check_circle</mat-icon>Confirmar Compra</button>
                </div>
            </div>
        </div>
    </div>
</div>