
<header>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">

</header>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>

    <div class="ContenedorPrincipal">
        <div class="container">
            <div class="grid w-full">
                <div class="sm:col-12 md:col-6 lg:col-4 xl:col-4" *ngFor="let juego of juegosDescuento">
                    <div class="card shadow-sm">
                        <img src="{{juego.src}}"
                            class="bd-placeholder-img card-img-top" width="100%" height="300"
                            xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                            preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Imagen Juego</title>
    
                        <div class="card-body">
                            <p class="card-text"><b>Titulo: {{juego.nombre}}</b></p>
                            <p class="text-white">Precio: {{juego.precio | currency}}</p>
                            <mat-expansion-panel hideToggle class="mt-4">
                                <mat-expansion-panel-header>
                                    <mat-panel-title>
                                        <span>Descripción:</span>
                                    </mat-panel-title>
                                </mat-expansion-panel-header>
                                <ul>
                                    <li>{{juego.descripcion}}</li>
                                </ul>
    
                            </mat-expansion-panel>
                            <div class="w-12 flex justify-content-center mt-4">
                                <div class="w-max">
                                    <button (click)="validarCarrito(juego)" class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-cart-plus"></li> Añadir al carrito </button>
                                    &nbsp;&nbsp;
                                    <button (click)="validarComprar(juego)" class="boton py-2 px-1 font-bold m-0" style="border-radius: 5px; border-color: transparent; font-size: 12px;"> <li class="pi pi-wallet"></li> Comprar </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
      <!-- Cuadro de dialogos -->
      
      <p-dialog [style]="{width: '30vw'}" [visible]="validadorInicioSesion" 
                [draggable]="false"
                [resizable]="false"
                [modal]="true"
                [closable]="false"
                [responsive]="true">
          <p-header class="dialogHeader text-center">
              Usuario no inicio sesión
          </p-header>
             <div>
              {{stringModla}}
             </div>
          <p-footer>
              <button  (click)="cambiarEstadoValidador()"  pButton type="button" label="Cancelar" class="p-button-danger"></button>
              <button (click)="irInicioSesion()"  pButton  type="button" label="Iniciar sesión" class="p-button-success"></button>
          </p-footer>
      </p-dialog>
      
      
      <!-- /Toast confirmacion -->
      
      <p-toast position="bottom-center" key="tl">
          <ng-template let-message pTemplate="message">
              <div class="p-toast-message-text">
                <div class="">{{message.summary}} <li class="pi pi-cart-plus ml-3"></li></div>
              </div>
            </ng-template>
      </p-toast>