<body>
	<div class="container">
		<p class="w-full text-center mt-4">Carrito</p>
		<hr>
		<table class="table">
			<thead>
			  <tr>
				<th scope="col">#</th>
				<th scope="col">Item</th>
				<th scope="col">Cantidad</th>
				<th scope="col">Total</th>
				<th scope="col">Acciones</th>
			  </tr>
			</thead>
			<tbody>
				<tr *ngFor="let item of carrito; let i = index">
					<style>
						.footer{
							visibility: false;
						}
					</style>
				  <th scope="row">{{i+1}}</th>
				  <td>{{item.juego.nombre}}</td>
				  <td id="cant">{{item.cantidad}}</td>
				  <td>{{verTotal(item.juego.precio,item.cantidad)| currency}}</td>
				  <td><li (click)="eliminarCarrito(i,item.juego.id)" class="pi pi-trash ml-4 cursor-pointer"></li></td>
				</tr>
			</tbody>
			<ng-container *ngIf="carrito.length==0; else elseTemplate">
				<tfoot ni>
					<tr id="footer">
					  <th scope="row" colspan="5">Carrito vacío - comience a comprar!</th>
					</tr>
				  </tfoot>
			</ng-container>
			<ng-template #elseTemplate>
				<tfoot ni>
					<tr id="footer">
					  <th scope="row" colspan="5">Felicidades carritos con productos</th>
					</tr>
				  </tfoot>
			</ng-template>
		  </table>
		<div class="row" id="cards"></div>
	</div>

</body>