<mat-tab-group>
    <mat-tab label="Precios Bajos!">
        <span class="Subtitulo">Rebajas de temporada</span>
        <mat-divider></mat-divider>
        <div class="Juegos">
            <div class="contenedorjuego">
                <span>Nombre: </span> {{juegos.nombre}} <br>
                <span>Descripcion: </span> {{juegos.descripcion}} <br>
                <span>Precio: </span> {{juegos.precio}}
                <span>Descuento: </span> {{juegos.descuento}} <br>
            </div>
            
    </div>
        
    </mat-tab>
    <mat-tab label="Colecciones a bajo precio!"> 
        <span class="Subtitulo">Las mejores colecciones de videojuegos</span>
        <mat-divider></mat-divider>    
    </mat-tab>
  </mat-tab-group>
  
  <div class="Juego">

  </div>