mat-toolbar {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.Subtitulo {
    justify-content: center;
    font-size: x-large;
    margin-top: 2rem;
}
button{
    margin-right: 2rem;
    margin-left: 2rem;
    padding: 2rem;
  }