<mat-toolbar color="primary"> 
    <mat-icon>games</mat-icon> 
    PlayLand
    <span class="example-spacer"></span>
    <button mat-button routerLink="#">Tienda</button>
    <mat-menu #appMenu="matMenu">
      <button mat-menu-item>Requisitos Altos</button>
      <button mat-menu-item>Requisitos Medios</button>
      <button mat-menu-item>Requisitos Bajos</button>
    </mat-menu>
    <button mat-button [matMenuTriggerFor]="appMenu">Requisitos</button>
    <button mat-button routerLink="./ofertas">Ofertas</button>
    <span class="example-spacer"></span>

</mat-toolbar>
  