<div class="z-5 relative">
  <mat-toolbar color="primary">
    <span id="playland" routerLink="./paginaPrincipal"><mat-icon>games</mat-icon> PlayLand</span>
    <span class="example-spacer"></span>
    <button class="ocultarColapse boton" style="background-color: transparent; border: none; color: white; font-size: 15px;" (click)="irPagPrincipalTienda()">Tienda</button>

    <mat-menu class="ocultarColapse"  #appMenu="matMenu">
      <button class="m-0" mat-menu-item routerLink="./requisitosAltos"> <mat-icon>thumb_up</mat-icon> Requisitos Altos</button>
      <button class="m-0" mat-menu-item routerLink="./requisitosMedios"> <mat-icon>thumbs_up_down</mat-icon> Requisitos
        Medios</button>
      <button class="m-0" mat-menu-item routerLink="./requisitosBajos"> <mat-icon>thumb_down</mat-icon> Requisitos Bajos</button>
    </mat-menu>
    
    <button class="ocultarColapse boton" style="background-color: transparent; border: none; color: white; font-size: 15px;" [matMenuTriggerFor]="appMenu">Requisitos</button>
    <button class="ocultarColapse boton" style="background-color: transparent; border: none; color: white; font-size: 15px;"  routerLink="./ofertas">Ofertas</button>
    <span class="example-spacer"></span>

    <a *ngIf="comprobarUsuarioInicioSeccion()" routerLink="./cart"  class="font-bold ocultarColapse no-underline boton" style="background-color: transparent; border: none; color: white; font-size: 15px;"> <i class="pi pi-shopping-cart"></i></a>
    
    <button (click)="irLogin()" class="font-bold ocultarColapse boton" style="background-color: transparent; border: none; color: white; font-size: 15px;"> <i class="pi pi-user mr-3"></i> {{labelUsuarioInicio()}}</button>

    <div (click)="habilitarDiv()" class="iconoOculto">
      <i class="pi pi-bars"></i>
    </div>
    <div *ngIf="ocultarDiv" class="iconoOculto shadow-8 position-absolute w-max" style="right:0px; top:55px; background-color: rgb(0, 0, 0);">
      <div class="relative">
        <button class="boton my-0 p-0 ml-3" style="background-color: transparent; border: none; color: white; font-size: 15px;" [matMenuTriggerFor]="menu">Requisitos</button>
        <mat-menu  #menu="matMenu">
          <button class="m-0" mat-menu-item routerLink="./requisitosAltos"> <mat-icon>thumb_up</mat-icon> Requisitos Altos</button>
          <button class="m-0" mat-menu-item routerLink="./requisitosMedios"> <mat-icon>thumbs_up_down</mat-icon> Requisitos
            Medios</button>
          <button  class="m-0" mat-menu-item routerLink="./requisitosBajos"> <mat-icon>thumb_down</mat-icon> Requisitos Bajos</button>
        </mat-menu>
        <br>
        <button class="boton my-0 p-0 ml-3" style="background-color: transparent; border: none; color: white; font-size: 15px;"  routerLink="./ofertas">Ofertas</button>
        <br>
        <a *ngIf="comprobarUsuarioInicioSeccion()" routerLink="./cart"  class="font-bold ml-3  no-underline boton" style="background-color: transparent; border: none; color: white; font-size: 15px;"> <i class="pi pi-shopping-cart"> Carrito</i><br></a>
        <button (click)="irLogin()" class="font-bold my-0 p-0 ml-3 boton" style="background-color: transparent; border: none; color: white; font-size: 15px;"> <i class="pi pi-user mr-3"></i> {{labelUsuarioInicio()}}</button>
      </div>
    </div>

  </mat-toolbar>
</div>
