<div>
  <mat-toolbar id="Tootlbar" color="primary"> 
      <span id="playland" routerLink="./"><mat-icon>games</mat-icon> PlayLand</span>
      <span class="example-spacer"></span>
      <button mat-button routerLink="#">Tienda</button>
      <mat-menu #appMenu="matMenu" id="Menu">
        <button class="Item" mat-menu-item >Requisitos Altos</button>
        <button class="Item" mat-menu-item>Requisitos Medios</button>
        <button class="Item" mat-menu-item>Requisitos Bajos</button>
      </mat-menu>
      <button mat-button [matMenuTriggerFor]="appMenu">Requisitos</button>
      <button mat-button routerLink="./ofertas">Ofertas</button>
      <span class="example-spacer"></span>

      <mat-icon id="carrito" matTooltip="Ver tus compras en el carrito">shopping_cart</mat-icon>

  </mat-toolbar>
</div>